/* It would work on github.com */

/*body{
	background: black !important;
}*/

/*override styles*/
.repository-content .js-navigation-container tr.js-navigation-item td.icon{
	position: relative;
}

*[class*="gitzip-"]{
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease; /* Safari and Chrome */
}

.gitzip-show{
	visibility: visible !important;
	opacity: 1 !important;
}

.gitzip-header{
	color: #333;
    background-color: #f5f5f5;
	padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.gitzip-dark .gitzip-header {
	color: #f0f6fc;
	background-color: #1e2126;
	border-bottom: 1px solid #222;
}

.gitzip-close{
	float: right;
	font-weight: 800;
	cursor: pointer;
	visibility: hidden;
}

.gitzip-fail .gitzip-close{
	visibility: visible;
}

.gitzip-body{
	margin: 10px 0;
	height: 246px;
	overflow: auto;
}

.gitzip-body p{
	margin: 0;
	padding: 0 15px;
	color: #333;
}

.gitzip-dark .gitzip-body p{
	color: #f0f6fc;
}

.gitzip-body p.warn{
	background-color: #fffbe7;
	color: #624115;
	border: 1px solid #fff4c7;
}

.gitzip-body p.error{
	background-color: #fff0f0;
	color: #ff081e;
	border: 1px solid #ffd6d6;
}

.gitzip-dark .gitzip-body p.warn, .gitzip-dark .gitzip-body p.error{
	background-color: inherit;
	border: none;
}

.gitzip-dark .gitzip-body p.warn{
	color: #e3b341;
}

.gitzip-downloading{
	width: 480px !important;
	height: 320px !important;
	background-color: transparent !important;
	border-radius: 0px !important;
}

.gitzip-check-mark{
	position: absolute; 
    left: -10px;
    top: 0px;
	font-size: 18px;
	margin:0 !important;
	visibility: hidden;
	opacity: 0;
	color: #333;
}

.gitzip-dark.gitzip-check-mark{
	color: #f0f6fc;
}

.gitzip-check-wrap{
	position: absolute;
    left: -5px;
    top: 0px;
    height: 100%;
    display: none;
    align-items: center;
}

/* In new UI */
td .gitzip-check-mark,
td .gitzip-check-wrap{
	left: 4px;
}

.gitzip-collect-wrap{
	position: fixed;
	right: 28px;
	bottom: 28px;
	z-index: 1000;
}

.gitzip-collect-arrow{
	position: absolute;
	right: 0px;
	bottom: 0px;
	visibility: hidden;
  	opacity: 0;
  	width: 56px;
  	height: 56px;
  	color: #333;
}

.gitzip-dark .gitzip-collect-arrow{
	color: #f0f6fc;
}

.gitzip-collect-arrow:hover{
	width: 270px;
	height: 65px;
	border-radius: 8px;
	color: #f0f6fc;
	background-color: #333;
}

.gitzip-dark .gitzip-collect-arrow:hover{
	background-color: transparent;	
}

.gitzip-collect-down{
	font-size: 56px;
	line-height: 56px;
	margin: 0;
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
	cursor: pointer;
	position: absolute;
	right: 0px;
	bottom: 4px;
}

.gitzip-collect-dash{
    box-shadow: 1px 1px 10px 0px #d0d0d0;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    visibility: hidden;
  	opacity: 0;
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	width: 0px;
  	height: 0px;
}

.gitzip-dark .gitzip-collect-dash {
	box-shadow: 1px 1px 10px 0px #2f2f2f;
	background-color: #13171d;
	border: 1px solid #222;
}

.gitzip-downloading .gitzip-collect-dash{
	width: 100%;
	height: 100%;
	display: block;
	visibility: visible;
  	opacity: 1;
}

.gitzip-collect-tip{
	visibility: hidden;
  	opacity: 0;
  	cursor: pointer;
  	position: absolute;
    left: -213px;
    bottom: 0;
    margin: 0;
    line-height: 65px;
    font-size: 18px;
    width: 230px;
    padding-left:10px;
}

.gitzip-collect-arrow:hover .gitzip-collect-tip{
	visibility: visible; opacity: 1;
	left: 0px;
}

.gitzip-downloading .gitzip-collect-tip, .gitzip-downloading .gitzip-collect-down{
	display: none !important;
}
