
* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input { margin: 0; }

a {
	color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 5px;
    background-color: #f5f5f5;
}

.panel{
	width: 400px;
	height: 130px;
	background-color: #fff;
    border-radius: 4px;
}

.panel-heading{
	color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body{
	padding: 15px;
}

.form-control{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.token-right{
	float: right;
    padding: 8px 10px 0px;
}

.tip-left{
	float: left;
	font-size: 10px;
	color: red;
	padding: 4px 5px 0px;
	display: none;
}

body.dark-theme {
    color: #f0f6fc;
    background-color: #1e2126;
}

.dark-theme .panel-heading {
    color: #f0f6fc;
    background-color: #1e2126;
    border-color: #222;
}

.dark-theme .panel{
    background-color: #000;
}

.dark-theme .form-control{
    outline: none !important;
    color: #aaa;
    background-color: #000;
    border: 1px solid #222;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.075);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.075);
}

.dark-theme .form-control:focus{
    border: 1px solid #555;
}
